{% extends 'base.html' %}

{% load site_info %}

{% block title %} | Dashboard {% endblock %}

{% block content %}

<section id="showcase-inner" class="py-5 text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-4">Admin Dashboard</h1>
        <p class="lead">Manage Student Data </p>
      </div>
    </div>
  </div>
</section>

<!--Alerts-->
{% include 'partials/_alerts.html' %}

<section id="dashboard" class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Welcome, {{user.first_name}} {{user.last_name}} </h2>
        <br>
        <br>
        
        <div class="card" style="width: 30vw; float: left;">
          <div class="card-header">
            <h5 class="card-title">Site Information</h5>
          </div>
          <div class="card-body">
            <table class="card-text">
              <colgroup>
                <col span="1" style="width: 80%;">
                <col span="1" style="width: 20%;">
              </colgroup>

              <tbody>
                <tr>
                  <td>Total Number of Student Entries:</td>
                  <td style="text-align: right;">{% total_students %}</td>                
                </tr>
  
                <tr>
                  <td>Total Number of Registered Customers:</td>
                  <td style="text-align: right;">{% total_customers %}</td>
                </tr>
              </tbody>
            </table>
            
          </div>
        </div>

        <table class="table" style="width: 25vw; float: right;">
          <thead>
            <tr>
              <th scope="col" colspan="2">Admin Tools</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="text-align: left;">Create a Student Entry</td>
              <td>
                <a class="btn btn-outline-success" href="{% url 'create_entry' %}" style="text-align: center;"><i
                    class="fas fa-plus"></i></a>
              </td>
            </tr>
            <tr>
              <td style="text-align: left;">Add a Course</td>
              <td>
                <a class="btn btn-outline-success" href="{% url 'create_course' %}" style="text-align: center;"><i
                    class="fas fa-plus"></i></a>
              </td>
            </tr>
            <tr>
              <td style="text-align: left;">Assign a Grade</td>
              <td>
                <a class="btn btn-outline-success" href="{% url 'assign_grade' %}" style="text-align: center;"><i
                    class="fas fa-plus"></i></a>
              </td>
            </tr>
            <tr>
              <td style="text-align: left;">Add a Customer</td>
              <td>
                <a class="btn btn-outline-success" href="{% url 'create_customer' %}" style="text-align: center;"><i
                    class="fas fa-plus"></i></a>
              </td>
            </tr>
            <tr>
              <td style="text-align: left;">View Complete Student List </td>
              <td>
                <a class="btn btn-outline-success" href="{% url 'StudentList' %}" style="text-align: center;"><i
                    class="far fa-eye"></i></a>
              </td>
            </tr>
            <tr>
              <td style="text-align: left;">View Complete Customer List </td>
              <td>
                <a class="btn btn-outline-success" href="{% url 'CustomerList' %}" style="text-align: center;"><i
                    class="far fa-eye"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

{% endblock %}