{% extends 'base.html' %} 

{% load crispy_forms_tags %}

{% block content %} 


<section id="register" class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card">
            <div class="card-header bg-primary text-white">
              <h4>
                <i class=""></i> Add Customer Features </h4>
            </div>
            <div class="card-body">

                
                {% include 'partials/_alerts.html' %} 
                <form action= "{% url 'create_customer' %}" method="POST" enctype="multipart/form-data">
                  {% csrf_token %} 
                <div class="form-group">                    
                    <!-- check box for student info -->              
                    <input type="checkbox" id="" name="Nsu ID" value="nsu_id">
                    <label for="Nsu ID"> Nsu ID</label><br>
                    <input type="checkbox" id="" name="Frist name" value="first_name">
                    <label for="Frist name"> Frist name</label><br>
                    <input type="checkbox" id="" name="Last name" value="last_name">
                    <label for="Last name"> Last name</label><br>
                    <input type="checkbox" id="" name="Department" value="dept">  
                    <label for="Department"> Department</label><br>
                    <input type="checkbox" id="" name="Program" value="program">                                   
                    <label for="Program"> Program</label><br>
                    <input type="checkbox" id="" name="Batch" value="batch">                                   
                    <label for="Batch"> Batch</label><br>
                    <input type="checkbox" id="" name="Email" value="email">  
                    <label for="Email"> Email</label><br>
                    <input type="checkbox" id="" name="Photo" value="photo">  
                    <label for="Photo"> Photo</label><br>
                    <!-- check box for personal info -->
                    <input type="checkbox" id="" name="Father Name" value="father_name">  
                    <label for="Father Name"> Father Name</label><br>
                    <input type="checkbox" id="" name="Mother Name" value="mother_name">  
                    <label for="Mother Name"> Mother Name</label> <br>
                    <input type="checkbox" id="" name="Gender" value="gender">  
                    <label for="Gender"> Gender</label><br>
                    <input type="checkbox" id="" name="Date Of Birth" value="date_of_birth">  
                    <label for="Date Of Birth"> Date Of Birth</label><br>
                    <input type="checkbox" id="" name="Address" value="address">  
                    <label for="Address"> Address</label><br>
                    <input type="checkbox" id="" name="Religion" value="religion">  
                    <label for="Religion"> Religion</label><br> 
                    <input type="checkbox" id="" name="Citizenship" value="citizenship">  
                    <label for="Citizenship"> Citizenship</label><br> 
                    <input type="checkbox" id="" name="Marital status" value="marital_status">  
                    <label for="Marital status"> Marital status</label><br> 
                    <input type="checkbox" id="" name="Blood group" value="blood_group">  
                    <label for="Blood group"> Blood group</label><br>
                    <input type="checkbox" id="" name="Covid19 vax status" value="covid19_vax_status">  
                    <label for="Covid19 vax status"> Covid19 vax status</label><br>  
                    <input type="checkbox" id="" name="Contact number" value="contact_number">  
                    <label for="Contact number"> Contact number</label><br>
                    <!-- check box for financial info -->  
                    <input type="checkbox" id="" name="Annual income" value="annual_income">  
                    <label for="Annual income"> Annual income</label><br>
                    <input type="checkbox" id="" name="Earning source" value="earning_source">  
                    <label for="Earning source"> Earning source</label><br> 
                    <input type="checkbox" id="" name="Annual expenditure" value="annual_expenditure">  
                    <label for="Annual expenditure"> Annual expenditure</label><br>
                    <!-- check box for all academic infos --> 
                    <input type="checkbox" id="" name="academic_info" value="academic_info">  
                    <label for="Academic Information"> Academic Information</label>                     
                </div>
                
                <input type="submit" value="Submit" class="btn btn-outline-secondary">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock %} 
